.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 2rem 0 2rem;

  .nav-desktop {
    display: none;
  }

  .header-right {
    display: flex;
    flex-direction: row;

    .nav-desktop-btn {
      display: none;
    }

    .select-container {
      padding-top: 0.3rem;
      margin-right: 1rem;
      z-index: 2;

      .select__control {
        border: none;
        width: 5rem;
        text-align: center;

        .select__indicator-separator {
          width: 0;
        }

        .select__value-container {
          padding-right: 0;
        }
      }

      .select__control--is-focused {
        border: none;
        box-shadow: none;
      }

      .select__menu {
        border: none;
        width: 60px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      .select__option {
        border-bottom: 0.5px solid #c2c2c2;
        background-color: white;
        color: black;
      }
      .select__option:last-child {
        border: none;
      }
    }
  }
}

.nav-mobile-closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 72px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  background-color: white;
  z-index: 1;

  .nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      margin-bottom: 72px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }

    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 152px;
      height: 50px;
      background: #ffb001;
      border: 2px solid #ffb001;
      box-sizing: border-box;
      box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
      border-radius: 28.5px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.open {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
    padding: 1rem 5rem 1rem 5rem;
    box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);

    .nav-desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 12rem;

      a {
        margin-right: 77px;
      }
    }
    .header-right {
      .select-container {
        padding-top: 0.7rem;
      }
      .hamburger {
        display: none;
      }

      .nav-desktop-btn {
        width: 152px;
        height: 57px;
        display: block;
        background: #ffb001;
        border: 2px solid #ffb001;
        box-sizing: border-box;
        box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
        border-radius: 28.5px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}
